*
{
   margin: 0;
   padding: 0;
}
.showcase
{
    display: flex;
    /* y axis to x axis*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.video-container
{
 position: absolute;
 height: 100%;
 width: 100%;
 
}
.video-content
{
 z-index: 1;
 font-size: 40px;
}
.video-content a
{
    background-color: red;
    color: blueviolet;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    line-height: 10px;
}
.video-content a:hover
{
 text-decoration: underline;
 color: yellowgreen;

}
.video-content h1{
    font-size: 40px;
    background-color:gray
}  

#Story1
{
    margin-top: 200px;
    margin-left: 20px;
}
#Story1 {
    color: rgb(168, 10, 42);
    font-size: 50px;
    font-style: oblique;

}
#Story1 h1{
    font-size: 100px;
    background-color: blue;
    color: azure;

}
#Story2
{
    margin-top: 200px;
    margin-left: 20px;
}
#Story2 {
    color: rgb(99, 30, 210);
    font-size: 50px;

}
#Story2 h1{
     font-size: 200px;
    background-color: rgb(21, 167, 106);
    color: rgb(21, 109, 109);
}
#footer
{
    text-align: center;
    background-color: rgb(221, 67, 79);
    color: rgb(34, 27, 29);
    font-size: 50px;


}